@import "./normolize.css";
@import "./variables.scss";
@import "./mixins.scss";

.bigContainer {
    width: 100%;
    height: 100%;

    .header {
        max-width: 1280px;
        min-height: 100px;
        margin: 0 auto;
        background-color: $colorHeader;
        border: 1px solid $colorBorder;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .container {
        max-width: 1280px;
        min-height: 550px;
        margin: 0 auto;
        display: flex;
        
        .firstColumn {
            width: 20%;
            min-height: 100%;
            background-color: $colorAside;
            border: 1px solid $colorBorder;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

        .main {
            width: 80%;
            min-height: 100%;
            background-color: $colorMain;
            border: 1px solid $colorBorder;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

        .secondColumn {
            @extend .firstColumn;
        }
    }

    .footer {
        @extend .header;
        background-color: $colorFooter;
    }
}