@import "./normolize.css";
.bigContainer {
  width: 100%;
  height: 100%;
}
.bigContainer .header, .bigContainer .footer {
  max-width: 1280px;
  min-height: 100px;
  margin: 0 auto;
  background-color: khaki;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bigContainer .container {
  max-width: 1280px;
  min-height: 550px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bigContainer .container .firstColumn, .bigContainer .container .secondColumn {
  width: 20%;
  min-height: 100%;
  background-color: #ffcd00;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bigContainer .container .main {
  width: 80%;
  min-height: 100%;
  background-color: #afccdc;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bigContainer .footer {
  background-color: tan;
}/*# sourceMappingURL=style.css.map */