@import "normolize.css";
@import "variables.scss";
@import "mixins.scss";

.bigContainer {
    background-color: $colorBg;
    padding: 50px;
    .container {
        padding: 50px 0;
        margin: 0 50px;
        background-color: $colorMain;

        .firstCont {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
            display: flex;
        }

        .secondCont {
            @extend .firstCont;
            justify-content: flex-end;
        }
        
        .thirdCont {
            @extend .firstCont;
            justify-content: center;
        }
        
        .fourthCont {
            @extend .firstCont;
            justify-content: space-between;
        }
        
        .fifthCont {
            @extend .firstCont;
            background-color: $colorFifthBg;
            justify-content: space-around;
        }
    }
}

.child1 {
    @include getBox(200px, 100px, $colorFirstBox);
}

.child2 {
    @include getBox(100px, 100px, $colorSecondBox);
}

.child3 {
    @include getBox(300px, 100px, $colorFirdBox);
}