@import "normolize.css";
.bigContainer {
  background-color: #2b3151;
  padding: 50px;
}
.bigContainer .container {
  padding: 50px 0;
  margin: 0 50px;
  background-color: #1e253b;
}
.bigContainer .container .firstCont, .bigContainer .container .fifthCont, .bigContainer .container .fourthCont, .bigContainer .container .thirdCont, .bigContainer .container .secondCont {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bigContainer .container .secondCont {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.bigContainer .container .thirdCont {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bigContainer .container .fourthCont {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bigContainer .container .fifthCont {
  background-color: #aa4f48;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.child1 {
  width: 200px;
  height: 100px;
  background-color: #12a4cc;
}

.child2 {
  width: 100px;
  height: 100px;
  background-color: #b7f5a2;
}

.child3 {
  width: 300px;
  height: 100px;
  background-color: #8e83e2;
}/*# sourceMappingURL=style.css.map */