$colorBg: rgb(43, 49, 81);
$colorMain: rgb(30, 37, 59);
$colorFirstBox:rgb(18,164,204);
$colorSecondBox:rgb(183,245,162);
$colorFirdBox:rgb(142,131,226);
$colorFifthBg: rgb(170, 79, 72);

$widhtBox: 100px;
$heightBox: 100px;