@mixin getBox($widthBox: 100px, $heightBox: 100px, $marginBox: 1%, $colorBox: yellow) {
    width: $widthBox;
    height: $heightBox;
    margin: $marginBox;
    background: $colorBox;
}

@mixin  positionBox($widthPosition: 100%, $heightPosition: 100%, $displayPosition: flex, $flex-flowPosition: row wrap, $justify-contentPosition: space-between) {
    width: $widthPosition;
    height: $heightPosition;
    display: $displayPosition;
    flex-flow: $flex-flowPosition;
    justify-content: $justify-contentPosition;
}