.bigContainer {
  width: 100%;
  height: 100%;
  background-color: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bigContainer .container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.bigContainer .container .topContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bigContainer .container .topContainer .boxT {
  width: 200px;
  height: 150px;
  margin: 1%;
  background: yellow;
}
.bigContainer .container .topContainer .child1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.bigContainer .container .topContainer .child2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.bigContainer .container .middleContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bigContainer .container .middleContainer .boxM {
  width: 100px;
  height: 100px;
  margin: 1%;
  background: yellow;
}
.bigContainer .container .middleContainer .child1, .bigContainer .container .middleContainer .child2, .bigContainer .container .middleContainer .child3, .bigContainer .container .middleContainer .child4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.bigContainer .container .middleContainer .child5 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.bigContainer .container .bottomContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bigContainer .container .bottomContainer .boxB {
  width: 100px;
  height: 300px;
  margin: 1%;
  background: yellow;
}
.bigContainer .container .bottomContainer .child1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.bigContainer .container .bottomContainer .child2 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.bigContainer .container .bottomContainer .child3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}/*# sourceMappingURL=style.css.map */