@import "variables.scss";
@import "mixins.scss";

.bigContainer {
    width: 100%;
    height: 100%;
    background-color: $colorBG;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;

        .topContainer {
            @include positionBox();

            .boxT {
                @include getBox(200px, 150px);
            }

            .child1 {
                flex: 1;
            }

            .child2 {
                flex: 2;
            }
        }

        .middleContainer {
            @include positionBox();

            .boxM {
                @include getBox();
            }

            .child1, .child2, .child3, .child4 {
                flex: 1;
            }

            .child5 {
                flex: 2;
            }
        }
        
        .bottomContainer {
            @include positionBox();

            .boxB {
                @include getBox(100px, 300px);
            }

            .child1 {
                flex: 2;
            }

            .child2 {
                flex: 3;
            }

            .child3 {
                flex: 1;
            }
        }
    }
}