$colorBG: lightblue;
$colorBox: yellow;
$widthBox: 100px;
$heightBox: 100px;
$marginBox: 1% 0;

$widthPosition: 100%;
$heightPosition: 100%;
$displayPosition: flex;
$flex-flowPosition: row wrap;
$justify-contentPosition: space-between;