@import "./normolize.css";
@import "./variables.scss";
@import "./mixins.scss";

.bigContainer {
    max-width: 300px;
    border: 1px dashed $colorBorder;
    margin: 0 auto;

    .firstContainer {
        display: flex;

        .box {
            .block {
                width: $widthBlock;
                height: $heightBlock;
            }

            &.top {
                border-right: 3px solid $colorBorder;
                border-bottom: 3px solid $colorBorder;
            }
        }
    }

    .secondContainer {
        display: flex;
        justify-content: space-between;
        .box {
            display: flex;
            align-items: flex-end;
            border-top: 3px solid $colorBorder;

            .first {
                height: $heightFirst;
                flex: 1;
            }

            .second {
                width: $widthSecond;
                height: $heightSecond;
            }

            &.left {
                border-right: 3px solid $colorBorder;
            }

            &.right {
                border-left: 3px solid $colorBorder;
            }
        }

    }
}

.box {
    @include getBox();
    box-sizing: border-box;

    .block {
        background-color: $colorBlock;
    }
}


