@import "./normolize.css";
.bigContainer {
  max-width: 300px;
  border: 1px dashed black;
  margin: 0 auto;
}
.bigContainer .firstContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bigContainer .firstContainer .box .block {
  width: 25px;
  height: 70px;
}
.bigContainer .firstContainer .box.top {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
.bigContainer .secondContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bigContainer .secondContainer .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-top: 3px solid black;
}
.bigContainer .secondContainer .box .first {
  height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.bigContainer .secondContainer .box .second {
  width: 40px;
  height: 65px;
}
.bigContainer .secondContainer .box.left {
  border-right: 3px solid black;
}
.bigContainer .secondContainer .box.right {
  border-left: 3px solid black;
}

.box {
  width: 90px;
  height: 90px;
  background-color: #94d44e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.box .block {
  background-color: #f6a623;
}/*# sourceMappingURL=style.css.map */