$colorBox: rgb(148, 212, 78);
$colorBlock: rgb(246, 166, 35);
$colorBorder: rgb(0, 0, 0);

$widthBox: 90px;
$heightBox: 90px;

$widthBlock: 25px;
$heightBlock: 70px;

$widthFirst: 70px;
$heightFirst: 40px;

$widthSecond: 40px;
$heightSecond: 65px;